@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Expenses</h3>
                        <h5 class="card-text text-danger" id="expenses"></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Incomes</h3>
                        <h5 class="card-text text-success" id="incomes"></h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title">Balance</h3>
                        <h5 class="card-text text-primary" id="balance"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="~/js/Dashboard/Index.js"></script>
<script>
    window.onload = async (event) => {
        await init();
    };

</script>
