@model Budget.WebApp.Models.ExpenseDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Expense details</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
        </div>
    </div>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Id
            </dt>
            <dd class="col-sm-10" bkey="id">
                @Model.Id
            </dd>
            <dt class="col-sm-2" >
                Name
            </dt>
            <dd class="col-sm-10">
                <p bkey="name"></p>
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                <p bkey="description"></p>
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>

            <dd class="col-sm-10">
                <p bkey="category"></p>
            </dd>
            <dt class="col-sm-2">
                Amount
            </dt>
            <dd class="col-sm-10">
                <p bkey="amount"></p>
            </dd>
            <dt class="col-sm-2">
                Payment Date
            </dt>
            <dd class="col-sm-10">
                <p bkey="paymentDate"></p>
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id=""><i data-feather="edit"></i></a>
        <a class="btn btn-primary" asp-action="Index"><i data-feather="arrow-left"></i></a>
    </div>
</main>

<script src="~/js/Expense/Expense.js"></script>
<script>
    window.onload = (event) => {
        initDetails();
    };

</script>